**/node_modules
.next
.cache
.build
*.nfs*
**/.yarn/
!**/.yarn/patches
!**/.yarn/plugins
!**/.yarn/releases
!**/.yarn/sdks
!**/.yarn/versions
!**/.yarn/cache
**/.yarn/build-state.yml
**/.yarn/install-state.gz
dist
target
out
.deploy
.logs
*.tsbuildinfo
react_native_space/credentials.json
react_native_space/release.keystore
nodejs_space/**
